<!DOCTYPE html>
<!-- 钓鱼测试， 获得的信息不会恶意利用  -->
<!-- ▏▏▏▏▏▏▏▏▏▏▉▉▍▊▊▉▉▋▋▊▋▌▏▏▏▏▏▏▏▏▏▏▏▏▏▏ 
　　▏▏▏▏▏▏▏▏▏▉▋▌▉▊▊▉▍▊▊▉▉▊▊▉▉▏▏▏▏▏▏▏▏▏▏▏▏▏ 
　　▏▏▏▏▏▏▏▌▊▉▉▌▉▉▌▉▉▉▉▉▊▋▉▉▉▋▍▊▎▏▏▏▏▏▏▏▏▏ 
　　▏▏▏▏▏▏▏▊▉▊▉▉▌▉▉▉▉▉▉▉▉▉▉▉▉▎▋▌▊▊▋▏▏▏▏▏▏▏ 
　　▏▏▏▏▏▌▊▉▉▉▉▊▉▉▉▉▉▉▉▉▋▉▉▉▊▊▋▉▊▊▊▉▋▏▏▏▏▏ 
　　▏▏▏▏▍▊▉▉▉▉▉▉▉▉▉▉▊▉▉▋▉▉▉▉▊▉▉▊▋▉▉▉▉▌▏▏▏▏ 
　　▏▏▏▏▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊▉▉▉▉▉▊▉▉▉▊▉▉▉▉▉▍▏▏▏ 
　　▏▏▏▏▊▉▉▉▉▉▉▉▉▉▊▉▊▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▌▏▎ 
　　▏▏▏▋▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊▉▉▉▉▉▉▉▉▉▉▉▉▏▎▎ 
　　▏▏▏▊▉▉▉▉▉▉▉▉▉▉▉▊▉▉▉▉▊▋▌▋▉▉▉▉▉▉▉▉▉▉▉▉▉▋ 
　　▏▏▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊▋▌▌▌▉▊▉▉▉▉▉▉▉▉▉▉▉▎ 
　　▏▎▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊▋▌▍▍▌▊▉▉▉▉▉▉▉▉▉▉▉▉▏ 
　　▏▋▊▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊▊▌▍▌▌▌▋▉▉▉▉▉▉▉▉▉▉▉▉▏ 
　　▏▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊▋▍▍▍▍▌▌▊▉▉▉▉▉▉▉▉▉▉▉▏ 
　　▏▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▌▌▍▍▍▍▍▍▋▉▉▉▉▉▉▉▉▉▉▉▏ 
　　▏▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊▋▍▍▍▍▍▍▍▌▋▉▉▉▉▉▉▉▉▉▉▎ 
　　▏▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊▋▌▍▌▋▋▊▉▉▋▋▉▉▉▉▉▉▉▉▉▉▉ 
　　▏▉▉▉▉▉▉▉▉▉▉▉▊▊▊▊▋▋▍▌▋▋▊▊▉▉▊▉▉▉▉▉▉▉▉▉▉▋ 
　　▏▊▉▉▉▉▉▉▉▉▉▉▊▊▋▊▊▋▍▌▋▋▋▌▌▊▊▊▉▉▉▉▉▉▉▉▉▎ 
　　▏▉▉▉▉▉▉▉▉▉▊▊▋▋▊▋▊▊▍▌▋▋▌▍▍▍▋▋▉▉▉▉▉▉▉▉▉▏ 
　　▏▉▉▉▉▉▉▉▉▉▉▉▉▉▉▋▊▋▍▌▌▌▌▊▋▌▍▋▋▉▉▉▉▉▉▉▉▌ 
　　▏▉▉▉▉▉▉▉▊▊▊▊▋▋▊▋▋▍▍▍▌▊▊▌▉▉▉▌▋▊▉▉▉▉▉▉▉▋ 
　　▏▊▉▉▉▉▋▌▌▋▋▋▊▊▋▋▌▍▍▍▌▊▋▌▍▍▌▉▋▊▉▉▉▉▉▉▉▌ 
　　▏▊▉▉▉▍▌▍▍▍▍▍▌▌▋▋▌▍▍▍▍▍▍▋▋▋▍▍▍▋▉▉▉▉▉▉▉▋ 
　　▏▉▉▉▉▍▍▍▍▍▍▍▍▌▋▌▍▍▍▍▌▍▍▍▍▍▍▍▌▌▋▉▉▉▉▉▋▌ 
　　▏▉▉▉▉▍▍▍▍▍▍▍▌▌▌▋▍▍▍▍▍▍▍▍▍▍▍▍▍▍▌▉▉▉▉▉▋▍ 
　　▏▏▉▉▉▍▍▍▍▍▍▌▋▋▍▍▍▍▍▍▍▍▍▍▍▍▍▍▍▍▌▉▉▉▉▉▍▋ 
　　▏▏▌▉▉▌▍▌▌▍▌▋▌▋▌▌▌▍▍▍▍▍▋▍▍▍▍▍▍▍▌▉▉▉▉▉▍▌ 
　　▏▏▏▊▉▋▍▌▋▌▋▌▍▌▊▉▋▋▌▌▌▌▍▊▌▍▍▍▍▍▍▉▉▉▉▉▌▌ 
　　▏▏▏▌▉▎▌▌▋▌▋▌▌▍▍▊▉▊▉▊▊▍▍▍▊▍▍▍▍▌▌▉▉▉▉▉▌▋ 
　　▏▏▏▎▉▎▌▊▋▋▋▌▍▍▍▍▌▋▌▍▍▍▌▍▌▌▍▌▌▌▋▉▉▉▉▊▋▌ 
　　▏▏▏▉▉▉▋▋▌▌▋▊▊▊▊▊▌▍▍▌▍▍▍▌▋▋▌▌▌▋▉▉▉▉▋▉▌▍ 
　　▏▏▎▉▉▉▎▌▌▍▌▉▊▊▊▉▊▊▊▊▊▊▋▋▌▌▌▋▌▌▉▉▉▉▌▌▍▎ 
　　▏▏▏▉▉▉▊▋▌▍▍▉▎▏▎▍▎▎▍▎▏▍▋▊▌▍▌▌▋▌▉▉▉▌▍▎▎▏ 
　　▏▏▏▉▉▉▉▋▌▍▌▍▉▉▉▋▍▎▍▏▏▍▊▌▍▍▋▌▋▉▉▉▉▌▍▎▎▏ 
　　▏▏▍▉▉▉▉▋▋▍▍▍▉▉▉▉▉▉▉▉▉▉▊▌▍▌▌▌▌▉▉▉▉▊▎▏▏▍ 
　　▏▌▉▉▉▋▉▌▋▍▍▍▌▌▎▏▎▎▍▍▊▍▍▍▌▌▌▋▉▉▉▉▉▉▏▏▏▌ 
　　▏▍▉▉▉▊▉▉▋▍▍▍▍▌▍▍▌▌▊▋▋▍▍▍▌▌▋▋▉▉▉▉▉▉▏▏▏▎ 
　　▏▌▊▉▉▊▉▉▋▌▍▍▌▌▋▌▌▌▌▌▍▍▍▍▌▌▋▊▉▉▉▉▉▉▏▏▏▏ 
　　▎▋▊▉▉▉▉▉▊▌▍▍▌▋▋▌▌▌▌▌▍▍▍▌▌▌▋▉▉▉▉▉▉▉▋▏▎▏ 
　　▍▊▉▉▉▉▋▉▉▌▍▍▍▍▍▍▍▍▍▍▍▍▍▋▌▋▉▉▉▉▉▉▉▉▉▏▏▏ 
　　▌▉▉▉▉▉▉▍▉▊▋▍▍▍▍▍▍▍▍▍▍▍▍▌▋▊▊▉▉▉▉▉▉▉▉▊▎▏ 
　　▋▉▉▉▉▉▉▉▊▉▋▌▍▍▍▍▍▍▍▍▍▍▋▋▊▉▉▉▉▉▉▉▉▉▉▊▏▏ 
　　▊▉▉▉▉▉▋▉▊▉▊▊▌▌▌▍▍▍▌▌▌▋▋▊▊▊▉▉▉▉▉▉▉▉▉▉▉▏ 
　　▋▉▉▉▉▎▉▉▊▊▊▊▊▋▌▌▌▌▌▌▊▊▉▊▊▉▉▉▉▉▉▉▉▉▉▉▉▉ 
　　▋▉▉▉▏▉▉▉▊▊▊▊▉▊▉▉▊▊▊▉▊▊▊▊▉▉▉▉▉▉▉▉▉▉▉▉▊▋ 
　　▋▉▉▉▋▉▉▉▊▊▊▊▊▉▊▉▊▉▉▊▊▊▊▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉ 
　　▋▉▉▉▉▉▉▉▉▊▊▊▉▊▉▉▊▊▊▊▊▊▊▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊  -->
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="format-detection" content="telephone=no">
  <meta name="author" content="IntPtr">
  <meta name="description" content="乌云白帽大会 WhiteHatFest 是一个连接企业与安全从业者（白帽子）的互联网安全盛会。">
  <meta name="keywords" content="网络安全,信息安全,不插电,互联网,乌云,唐朝,白帽子,WHF,WhiteHatFest,乌云白帽大会,乌云峰会">
  <meta name="og:title" content="乌云白帽大会 · WHF 2016 ，不插电等你来">
  <title>限时免费 · 乌云白帽大会 · WHF 2016 ，不插电等你来</title>
  <link rel="shortcut icon" type="image/x-icon" href="http://summit.wooyun.org/2016/assets/assets/images/common/favicon.ico?f3c56de4">
  <link rel="icon" type="image/vnd.microsoft.icon" href="http://summit.wooyun.org/2016/assets/assets/images/common/favicon.ico?f3c56de4">
  <link rel="icon" type="image/png" href="http://summit.wooyun.org/2016/assets/assets/images/common/favicon.png?1edec951">
  <link href="/static/wooyun/app.css" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div class="ui-app ui-app--home ui-app--home" data-reactid=".0">
      <nav class="ui-app__navBar" data-reactid=".0.0">
        <div class="ui-app__navBar__back" data-reactid=".0.0.0"><a href="http://summit.wooyun.org/#/" data-reactid=".0.0.0.0"><span class="ui-icon ui--desktop" data-reactid=".0.0.0.0.0">chevron_left</span><span class="ui-icon ui--mobile" data-reactid=".0.0.0.0.1">arrow_back</span></a></div>
        <div class="ui-app__navBar__nav"
          data-reactid=".0.0.1"><a href="http://summit.wooyun.org/#/page/1/" data-reactid=".0.0.1.0"><span data-reactid=".0.0.1.0.0">议程预告</span></a><a href="http://summit.wooyun.org/#/page/2/" data-reactid=".0.0.1.1"><span data-reactid=".0.0.1.1.0">稍后开启</span></a><a href="http://summit.wooyun.org/#/page/3/"
            data-reactid=".0.0.1.2"><span data-reactid=".0.0.1.2.0">稍后开启</span></a></div>
      </nav>
      <div class="ui-app__content ui-app__content--home" data-reactid=".0.1">
        <div data-reactid=".0.1.0">
          <main class="ui-main ui-home" data-reactid=".0.1.0.$=1$home">
            <div class="ui-logo" data-reactid=".0.1.0.$=1$home.0">
              <div class="ui-logo__back" data-reactid=".0.1.0.$=1$home.0.0"></div>
              <div class="ui-logo__icon" data-reactid=".0.1.0.$=1$home.0.1"></div>
            </div>
            <h1 class="ui-title" data-reactid=".0.1.0.$=1$home.1"><span class="ui-text ui-text--hidden" data-reactid=".0.1.0.$=1$home.1.0">乌云白帽大会 · 不插电 / WhiteHatFest 2016 · Unplugged</span></h1>
            <div class="ui-scrollable ui-scrollable--native ui-timeline" data-reactid=".0.1.0.$=1$home.2">
              <ul data-reactid=".0.1.0.$=1$home.2.0">
                <li class="ui--before" data-reactid=".0.1.0.$=1$home.2.0.$0"><span class="ui-text" data-reactid=".0.1.0.$=1$home.2.0.$0.0"><a href="http://summit.wooyun.org/#/" data-reactid=".0.1.0.$=1$home.2.0.$0.0.0">点此订阅更新</a></span><span class="ui-tooltip" data-reactid=".0.1.0.$=1$home.2.0.$0.1"><span data-reactid=".0.1.0.$=1$home.2.0.$0.1.0">进程更新</span></span>
                </li>
                <li class="ui--current" data-reactid=".0.1.0.$=1$home.2.0.$1"><span class="ui-text" data-reactid=".0.1.0.$=1$home.2.0.$1.0">2016. 03</span><span class="ui-tooltip" data-reactid=".0.1.0.$=1$home.2.0.$1.1"><span data-reactid=".0.1.0.$=1$home.2.0.$1.1.0">门票起售</span></span>
                </li>
                <li class="ui--current" data-reactid=".0.1.0.$=1$home.2.0.$2"><span class="ui-text" data-reactid=".0.1.0.$=1$home.2.0.$2.0">2016. 03</span><span class="ui-tooltip" data-reactid=".0.1.0.$=1$home.2.0.$2.1"><span data-reactid=".0.1.0.$=1$home.2.0.$2.1.0">议题征集</span></span>
                </li>
                <li class="ui--after" data-reactid=".0.1.0.$=1$home.2.0.$3"><span class="ui-text" data-reactid=".0.1.0.$=1$home.2.0.$3.0">2016. 06</span><span class="ui-tooltip" data-reactid=".0.1.0.$=1$home.2.0.$3.1"><span data-reactid=".0.1.0.$=1$home.2.0.$3.1.0">公布议程</span></span>
                </li>
                <li class="ui--after" data-reactid=".0.1.0.$=1$home.2.0.$4"><span class="ui-text" data-reactid=".0.1.0.$=1$home.2.0.$4.0">2016. 07. 08 · 北京</span><span class="ui-tooltip" data-reactid=".0.1.0.$=1$home.2.0.$4.1"><span data-reactid=".0.1.0.$=1$home.2.0.$4.1.0">大会开幕</span></span>
                </li>
              </ul>
            </div>
            <div class="ui-ticketButton" data-reactid=".0.1.0.$=1$home.3">
              <a class="ui-ticketButton__inner" href="http://summit.wooyun.org/#/ticket/" data-reactid=".0.1.0.$=1$home.3.0"></a>
            </div>
            <noscript data-reactid=".0.1.0.$=1$home.4"></noscript>
          </main>
        </div>
      </div>
      <div class="ui-app__content ui-app__content--page" data-reactid=".0.2">
        <div data-reactid=".0.2.0"></div>
      </div>
      <div class="ui-app__content ui-app__content--ticket" data-reactid=".0.3">
        <div data-reactid=".0.3.0"></div>
      </div>
    </div>
  </div>
  <script src="/static/wooyun/vendor.js"></script>
  <script src="/static/wooyun/app.js"></script>
  <div id="portal">
    <div>
      <div data-reactid=".1"></div>
    </div>
  </div>
</body>

</html>
